@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
    height: 100vh;
}

@layer base {
    button {
        @apply border border-black rounded-xl px-5 py-1
    }
}

body {
    font-family: 'Maven Pro', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

#hideScroll::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    max-height: 180px;
    overflow-y: auto;
    /* Customize scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #4790E4 transparent;
}

.scroll-container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #2F2E2E;
    border-radius: 5px;
}

.noteScroll {
    max-height: 737px;
    overflow-y: auto;
    /* Customize scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #4790E4 transparent;
}

.noteScroll::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.noteScroll::-webkit-scrollbar-thumb {
    background-color: #2F2E2E;
    border-radius: 5px;
}

/*/// RichText*/
.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
}

.RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
    max-height: 530px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.RichEditor-editor::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}
