@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
    height: 100vh;
}

@layer base {
    button {
        @apply border border-black rounded-xl px-5 py-1
    }
}

body::-webkit-scrollbar {
    display: none;
}

#hideScroll::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    max-height: 180px;
    overflow-y: auto;
    /* Customize scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #4790E4 transparent;
}

.scroll-container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #2F2E2E;
    border-radius: 5px;
}

.noteScroll {
    max-height: 737px;
    overflow-y: auto;
    /* Customize scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #4790E4 transparent;
}

.noteScroll::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.noteScroll::-webkit-scrollbar-thumb {
    background-color: #2F2E2E;
    border-radius: 5px;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    border: none !important;
    box-shadow: none !important;
}


.ggLogin {
    position: absolute;
    z-index: 999;
    color: aliceblue;
    top: 23%;
    right: 16%
}


p.ck-placeholder {
    margin-left: 39px;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
    margin-left: 39px;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    margin-left: 39px;
}
