@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
    height: 100vh;
}

@layer base {
    button {
        @apply border border-black rounded-xl px-5 py-1
    }
}

body {
    font-family: 'Maven Pro', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

#hideScroll::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    max-height: 180px;
    overflow-y: auto;
    /* Customize scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #4790E4 transparent;
}

.scroll-container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #2F2E2E;
    border-radius: 5px;
}

.noteScroll {
    max-height: 737px;
    overflow-y: auto;
    /* Customize scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #4790E4 transparent;
}

.noteScroll::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.noteScroll::-webkit-scrollbar-thumb {
    background-color: #2F2E2E;
    border-radius: 5px;
}

.app-content {
    margin: 1rem auto;
    width: 80%;
    padding: 5%;
    background-color: #f4f5f9;
}
